@page "/Admin/Account"
@layout AdminLayout
@inject HttpClient httpClient
@using SanGiaoDich_BrotherHood.Shared.Models
@inject NavigationManager NavigationManager

<h3>Quản lý người dùng</h3>

@if (users == null)
{
    <p>Đang tải dữ liệu...</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th>Tên đăng nhập</th>
                <th>Họ và tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td class="text-center">@user.PhoneNumber</td>
                    <td class="text-center">
                        <button class="btn btn-primary">Chỉnh sửa</button>
                        <button class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Account> users;

    protected override async Task OnInitializedAsync()
    {
        users = await httpClient.GetFromJsonAsync<List<Account>>("api/user/GetAccounts");
    }

    
}
